
fastapi
uvicorn[standard]
python-multipart


discord.py


pymongo
sentence-transformers
motor
tiktoken

openai


python-dotenv
pydantic
pydantic-settings


loguru


langchain
langchain-text-splitters


httpx
aiohttp


pytest
pytest-asyncio
pytest-cov


black
flake8


python-json-logger
tenacity
psutil

watchdog